################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
build
debug
out
Testing
.vs